---
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <h1 class="titulo">Prevalence and nature of child sexual exploitation and abuse</h1>

    <div class="autores">
      <h2>Research team</h2>
      <ul>
        <li>Arturo Harker Roa, PhD</li>
        <li>Maria Fernanda Rodríguez</li>
        <li>Jorge Rodríguez</li>
        <li>Paula Contreras</li>
        <li>Maria Paula Marmolejo</li>
        <li>Katherine Jaramillo</li>
        <li>Julián Lopez</li>
        <li>Daniel Mendivelso</li>
        <li>Inga Vermeulen, PhD</li>
        <li>Deborah Fry, PhD</li>
      </ul>
      <p></p>
    </div>

    <div class="contenido">
      <section id="grafica" class="columnas">
        <div class="linea">
          <div id="u12" class="modulo l3 u12"><h3>Last 12 months</h3></div>
          <div id="vida" class="modulo l3 vida"><h3>Lifetime</h3></div>
        </div>

        <div class="linea">
          <div id="u12Menor" class="modulo l2 u12"><h3>13 - 17</h3></div>
          <div id="u12Mayor" class="modulo l2 u12"><h3>18 - 24</h3></div>
          <div id="vidaMenor" class="modulo l2 vida"><h3>13 - 17</h3></div>
          <div id="vidaMayor" class="modulo l2 vida"><h3>18 - 24</h3></div>
        </div>

        <div class="linea">
          <div id="u12MenorM" class="modulo u12"><h3>women</h3></div>
          <div id="u12MenorH" class="modulo u12"><h3>men</h3></div>
          <div id="u12MayorM" class="modulo u12"><h3>women</h3></div>
          <div id="u12MayorH" class="modulo u12"><h3>men</h3></div>
          <div id="vidaMenorM" class="modulo vida"><h3>women</h3></div>
          <div id="vidaMenorH" class="modulo vida"><h3>men</h3></div>
          <div id="vidaMayorM" class="modulo vida"><h3>women</h3></div>
          <div id="vidaMayorH" class="modulo vida"><h3>men</h3></div>
        </div>

        <svg id="mapa">
          <defs>
            <pattern id="sinInfo" patternUnits="userSpaceOnUse" width="3.5" height="3.5" patternTransform="rotate(45)">
              <line x1="0" y1="0" x2="0" y2="3.5" stroke="#46484A" stroke-width="1"></line>
            </pattern>
          </defs>
        </svg>
      </section>

      <section id="conclusiones" class="columna">
        <h2>Conclusiones</h2>

        <section>
          <h3>The mean lifetime CSEA prevalence rate is very high (17 countries)</h3>
          <p>
            16.54% for women and 9.01% for men (as reported retrospectively by persons 18 to 24 years old). The
            probability that young men and woman 18 to 24 years old report they were victimized during the 12 months
            previous to the survey is 9.15% and 12.26%, respectively.
          </p>
        </section>

        <section>
          <h3>Variation in CSEA prevalence across countries is huge (17 countries)</h3>
          <p>
            for both lifetime and last year prevalences, and from the reports of both age groups (13-17 and 18-24). The
            range difference between the maximum and minimum observed value is 37 percentage points for females.
          </p>
        </section>

        <section>
          <h3>The mean lifetime CSEA prevalence is especially high for girls and young woman (17 countries)</h3>
          <p>
            Lifetime exposure to CSEA reported by children and youth 13 to 17 years old is 1.97 times higher for
            females.
          </p>
        </section>

        <section>
          <h3>CSEA happens very early in life, for both men and women (12 countries)</h3>
          <p>
            Approximately half of CSEA victims say that the first perpetration happened before they were 13 years old.
            Yet, it happens even earlier in life for girls: more than one third (37.6%) of the young woman (18-24 years
            old) affected by CSEA report that the first perpetration happened before they were 13.
          </p>
        </section>

        <section>
          <h3>Poly-victimization is very common among CSEA victims (17 countries)</h3>
          <p>
            According to the VACS data, the proportion of CSEA victims that were also victims of physical or emotional
            violence is approximately 43% for girls and 44% for boys.
          </p>
        </section>

        <section>
          <h3>Average educational attainment of both female and male CSEA victims is very low (15 countries)</h3>
          <p>
            Less than 6% of the victims (18 to 24 years old) report having more than secondary education, and almost two
            thirds report having only primary education or less
          </p>
        </section>

        <section>
          <h3>
            The situation varies significantly across countries, and between men and woman in terms of the relationship
            between victims of CSEA and their first perpetrator (6 countries)
          </h3>
          <p>
            The two most frequent relationships reported by females are: “current or Former Romantic Partners” and
            “friend, classmate, or neighbour”, with the first one being the most prevalent. For male victims the most
            salient relationship with the perpetrator was by far “friend, classmate, or neighbour”.
          </p>
        </section>

        <section>
          <h3>According to the VACS data, CSEA perpetrators are young (9 countries)</h3>
          <p>
            Approximately one third of the CSEA victims report that the first perpetrator was 14 years old or less, and
            another third that the perpetrator was between 15 and 18 years old. This pattern is similar for young men
            and women.
          </p>
        </section>

        <section>
          <h3>The evidence provided by the VACS suggests home is not the safest place (6 countries)</h3>
          <p>According to the VACS data, 60 to 70% of CSEA victims report that the first event happened at home.</p>
        </section>
      </section>
    </div>
    <div id="map"></div>
  </main>
</Plantilla>

<script>
  import 'node_modules/mapbox-gl/';
  import { edadPerpetrador, listaPaises } from '@/cerebro/datos';
  import mapbox from 'mapbox-gl';
  import type { Arbol } from '@/tipos';
  import { calcularPorcentaje, crearLinea, escalaCoordenadas } from '@/utilidades/ayudas';
  import { extremosLugar } from '@enflujo/alquimia';
  import type { IMapearCoordenadas } from '@enflujo/alquimia/libreria/modulos/tipos';
  const elementosU12 = document.body.querySelectorAll('.u12');
  const elementosVida = document.body.querySelectorAll('.vida');
  const mapa = document.getElementById('mapa') as HTMLElement & SVGElement;

  const estiloMapa = 'mapbox://styles/enflujo/cl3kdh8bp006b14lowcxmiwyd';
  const llave = 'pk.eyJ1IjoiZW5mbHVqbyIsImEiOiJjbDNrOXNndXQwMnZsM2lvNDd4N2x0M3dvIn0.eWs4BHs67PcETEUI00T66Q';
  mapbox.accessToken = llave;
  const map = new mapbox.Map({
    container: 'map',
    style: estiloMapa,
    zoom: 1,
    center: [30, 15],
  });

  map.on('load', () => {
    map.setLayoutProperty('country-label', 'text-field', [
      'format',

      // ['get', 'name_en'],
      ['case', ['in', ['get', 'name_en'], ['literal', listaPaises]], ['get', 'name_en'], ''],
      { 'font-scale': 1.2 },
    ]);
  });

  // let mapearCoordenadas: IMapearCoordenadas;
  // let coordenadasAncho = 0;
  // let coordenadasAlto = 0;
  // const proporciones = { ancho: 70, alto: null };
  // let ancho = 0;
  // let alto = 0;

  // const datosPaises = await fetch('/paisesVacs.geo.json').then((res) => res.json());
  // const extremosGeo = extremosLugar(datosPaises);

  // extremos();
  // escalar();
  // console.log(extremosGeo, coordenadasAncho, coordenadasAlto, ancho, alto);

  // datosPaises.features.forEach((lugar) => {
  //   if (lugar.geometry.type === 'Polygon' || lugar.geometry.type === 'MultiPolygon') {
  //     const zona = document.createElementNS('http://www.w3.org/2000/svg', 'path');
  //     const escalaDims = 1;
  //     const linea = crearLinea(lugar.geometry, mapearCoordenadas, ancho * escalaDims, alto * escalaDims);

  //     zona.setAttribute('d', linea);
  //     zona.setAttribute('class', lugar.properties.encuestado ? 'encuestado' : '');
  //     mapa.appendChild(zona);
  //   }
  // });

  // function extremos() {
  //   mapearCoordenadas = escalaCoordenadas(-60, 78, -120, 120);

  //   coordenadasAncho = extremosGeo.longitudMax - extremosGeo.longitudMin;
  //   coordenadasAlto = extremosGeo.latitudMax - extremosGeo.latitudMin;
  // }

  // function definirPoporciones() {
  //   if (proporciones.ancho && proporciones.ancho <= 100) {
  //     ancho = calcularPorcentaje(window.innerWidth, proporciones.ancho);
  //   }

  //   if (proporciones.alto && proporciones.alto <= 100) {
  //     alto = calcularPorcentaje(window.innerHeight, proporciones.alto);
  //   }
  // }

  // function escalar() {
  //   definirPoporciones();

  //   // Revisa las proporciones del mapa para que no se deforme
  //   if (coordenadasAncho > coordenadasAlto) {
  //     alto = (ancho * (coordenadasAlto / coordenadasAncho)) | 0;
  //   } else {
  //     ancho = (alto * (coordenadasAncho / coordenadasAlto)) | 0;
  //   }

  //   mapa.setAttribute('width', `${ancho}`);
  //   mapa.setAttribute('height', `${alto}`);
  //   mapa.setAttribute('shape-rendering', 'geometricPrecision');
  // }

  /**
   *  | u12                                           | vida                                                |
   *  | u12Menor              | u12Mayor              | vidaMenor               | vidaMayor                 |
   *  | u12MenorM | u12MenorH | u12MayorM | u12MayorH | vidaMenorM | vidaMenorH | vidaMayorM  | vidaMayorH  |
   *  */

  function esconderVacios(datos: Arbol) {
    if (!datos.ultimos12) {
      elementosU12.forEach((elemento) => elemento.classList.add('invisible'));
    } else {
      elementosU12.forEach((elemento) => elemento.classList.remove('invisible'));
    }

    if (!datos.vida) {
      elementosVida.forEach((elemento) => elemento.classList.add('invisible'));
    } else {
      elementosVida.forEach((elemento) => elemento.classList.remove('invisible'));
    }
  }

  console.log(edadPerpetrador);
  esconderVacios(edadPerpetrador);
  // const gql = String.raw;

  // const Peticion = gql`
  //   query {
  //     articulos {
  //       traducciones {
  //         titulo
  //       }
  //     }
  //   }
  // `;

  // fetch('http://localhost:8055/graphql', {
  //   method: 'POST',
  //   headers: { 'Content-Type': 'application/json' },
  //   body: JSON.stringify({
  //     query: `articulos {
  //       traducciones {
  //         titulo
  //       }
  //     }`,
  //   }),
  // })
  //   .then((res) => res.json())
  //   .then((datos) => {
  //     console.log(datos);
  //   });
</script>

<style lang="scss" is:global>
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .titulo {
    font-weight: 100;
    font-size: 3em;
    max-width: 500px;
    margin: 0 0 0 2em;
    padding: 0;
    line-height: 1;
    letter-spacing: 11px;
    border-left: 4px solid;
    padding-left: 0.3em;
  }

  .autores {
    width: 80%;
    margin: 0 0 0 100px;
    border-bottom: 1px dotted white;
    font-size: 0.75em;

    h2 {
      font-weight: 100;
      //border-bottom: 2px solid white;
      //border-top: 1px solid white;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-style: italic;

      li {
        display: inline-block;
        &:after {
          content: ',';
          display: inline-block;
          margin: 0 3px;
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }
  }

  #mapa {
    background-color: rgb(0, 0, 0);
    border: 3px solid white;

    path {
      fill: transparent;
      stroke: rgb(77, 69, 69);

      &.encuestado {
        fill: rgb(245, 162, 162);
        stroke: rgb(241, 210, 210);
      }
    }
  }

  $anchoColumna: 45vw;

  .contenido {
    //sdisplay: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  #conclusiones {
    width: $anchoColumna;
  }

  #grafica {
    position: sticky;
    top: 10px;
  }

  .linea {
    display: flex;
    background-color: rgb(166, 166, 152);
  }

  .modulo {
    width: 25%;
    // height: 100px;
    // width: 100px;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    transition: all 0.45s ease-in-out;
    color: black;

    &.l2 {
      width: 25%;
      //width: 200px;
    }

    &.l3 {
      width: 50%;
      //width: 400px;
    }

    &.invisible {
      width: 1px;
      border: 0;
      background-color: black;
    }

    &.l2.invisible {
      width: 2px;
    }

    &.l3.invisible {
      width: 4px;
    }
  }
</style>
