---
import ConexionesEdadPerpretador from '@/componentes/ConexionesEdadPerpretador.astro';
import ConexionesRelacionPVMenores from '@/componentes/ConexionesRelacionPVMenores.astro';
import ConexionesRelacionPVMayores from '@/componentes/ConexionesRelacionPVMayores.astro';
import ConexionesEdadVictimaMenores from '@/componentes/ConexionesEdadVictimaMenores.astro';
import ConexionesEdadVictimaMayores from '@/componentes/ConexionesEdadVictimaMayores.astro';
import ConexionesLugarMenores from '@/componentes/ConexionesLugarMenores.astro';
import ConexionesLugarMayores from '@/componentes/ConexionesLugarMayores.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
import BarrasPoly from '@/componentes/BarrasPoly.astro';
import ConexionesEduacion from '@/componentes/ConexionesEduacion.astro';
import ConexionesPrevalenciaMenores from '@/componentes/ConexionesPrevalenciaMenores.astro';
import ConexionesPrevalenciaMayores from '@/componentes/ConexionesPrevalenciaMayores.astro';
import Glosario from '@/componentes/Glosario.astro';
---

<Plantilla>
  <nav id="navegacion">
    <ul>
      <li class="botonMenu"><a href="#intro">Intro</a></li>
      <!-- <li>
        <a href="#conclusion1" class="botonConclusion"
          ><span class="nombre">Mean lifetime CSEA prevalence is very high</span></a
        >
      </li> -->
      <li>
        <a href="#conclusion2" class="botonConclusion"
          ><span class="nombre">Variation in CSEA prevalence across countries is huge</span></a
        >
      </li>
      <li>
        <a href="#conclusion4" class="botonConclusion"><span class="nombre">CSEA happens very early in life</span></a>
      </li>
      <li>
        <a href="#conclusion5" class="botonConclusion"><span class="nombre">Poly-victimization is very common</span></a>
      </li>
      <li>
        <a href="#conclusion6" class="botonConclusion"><span class="nombre">Educational attainment is very low</span></a
        >
      </li>
      <li>
        <a href="#conclusion7" class="botonConclusion"
          ><span class="nombre">Relationship between victims and their first perpetrator</span></a
        >
      </li>
      <li>
        <a href="#conclusion8" class="botonConclusion"><span class="nombre">Perpetrators are very young</span></a>
      </li>
      <li>
        <a href="#conclusion9" class="botonConclusion"><span class="nombre">Home is not the safest place</span></a>
      </li>
      <li class="botonMenu abrirGlosario">Glossary</li>
      <li class="botonMenu"><a href="#creditos">Credits</a></li>
    </ul>
  </nav>

  <main>
    <Glosario />
    <h1 id="intro" class="titulo">Prevalence and nature of child sexual exploitation and abuse</h1>

    <div class="contenido">
      <div class="intro">
        <p>Understanding <span class="resaltar">child sexual exploitation and abuse (CSEA)</span> is vital because:</p>

        <ul class="listaCentrada">
          <li>
            It reveals the true scale of CSEA, often hidden due to underreporting, societal stigma and lack of reliable
            data.
          </li>
          <li>It helps create effective policies and strategies to combat CSEA.</li>
          <li>It identifies patterns and risk factors, aiding in prevention and early intervention.</li>
        </ul>

        <p>
          This study uses data from 17 countries, leveraging the <span id="defVacs" class="resaltar"
            >Violence Against Children and Youth Surveys (VACS)</span
          > to provide reliable insights and inform policies.
        </p>

        <p>The following sections present the key findings.</p>
      </div>

      <!-- <section id="conclusion1" class="conclusion">
        <h3>The mean lifetime CSEA prevalence rate is very high</h3>
        <p class="paisesAnalizados">(17 countries)</p>
        <p>
          16.54% for women and 9.01% for men (as reported retrospectively by persons 18 to 24 years old). The
          probability that young men and woman 18 to 24 years old report they were victimized during the 12 months
          previous to the survey is 9.15% and 12.26%, respectively.
        </p>
      </section> -->

      <section id="conclusion2" class="conclusion">
        <h3>Variation in CSEA prevalence across countries is huge</h3>
        <p class="paisesAnalizados">(17 countries)</p>
        <p>
          For both lifetime and last year prevalences, and from the reports of both age groups (13-17 and 18-24). The
          range difference between the maximum and minimum observed value is 37 percentage points for females.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesPrevalenciaMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesPrevalenciaMayores />
      </section>

      <div class="contexto">
        <p>
          <a href="#conclusion1">The mean lifetime CSEA prevalence is especially high for girls and young woman.</a> Lifetime
          exposure to CSEA reported by children and youth 13 to 17 years old is 1.97 times higher for females.
        </p>

        <p>
          However, variation across this sample of countries is similarly high for both young men and women. It is
          important to highlight that there are many more differences across gender in the nature of CSEA. In the next
          sections we will describe gender differences in terms of the victim's characteristics:
        </p>

        <ul>
          <li><a href="#conclusion4">Age of first perpetration</a></li>
          <li><a href="#conclusion5">Exposure to other types of violence</a></li>
          <li><a href="#conclusion6">Educational attainment</a></li>
        </ul>

        Also perpetrator's characteristics:
        <ul>
          <li><a href="#conclusion7">Relationship to the victim</a></li>
          <li><a href="#conclusion8">Age of the perpetration</a></li>
        </ul>

        <p>And lastly, the <a href="#conclusion9">location of the event</a>.</p>
      </div>

      <section id="conclusion4" class="conclusion">
        <h3>CSEA happens very early in life, for both men and women</h3>
        <p class="paisesAnalizados">(12 countries)</p>
        <p>
          Approximately half of CSEA victims say that the first perpetration happened before they were 13 years old.
          Yet, it happens even earlier in life for girls: more than one third (37.6%) of the young woman (18-24 years
          old) affected by CSEA report that the first perpetration happened before they were 13.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesEdadVictimaMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesEdadVictimaMayores />
      </section>

      <section id="conclusion5" class="conclusion">
        <h3>Poly-victimization is very common among CSEA victims</h3>
        <p class="paisesAnalizados">(17 countries)</p>
        <p>
          According to the VACS data, the proportion of CSEA victims that were also victims of physical or emotional
          violence is approximately 43% for girls and 44% for boys. The graphics show extreme cases such as <span
            id="polyTanzania"
            class="conexionConGrafica"
            style="color:rgb(353.136,120.53599999999999,101.024)"
          >
            Tanzania
          </span>, <span id="polyHaiti" class="conexionConGrafica" style="color:rgb(258.468,154.668,150.612)"
            >Haiti</span
          >
          and <span id="polyMalawi" class="conexionConGrafica" style="color:rgb(244.65,159.65,157.85)">Malawi</span>,
          where this proportion exceeds 50%.
        </p>

        <BarrasPoly />
      </section>

      <section id="conclusion6" class="conclusion">
        <h3>Average educational attainment of both female and male CSEA victims is very low</h3>
        <p class="paisesAnalizados">(15 countries)</p>
        <p>
          Less than 6% of the victims (18 to 24 years old) report having more than secondary education, and almost two
          thirds report having only primary education or less
        </p>

        <ConexionesEduacion />
      </section>

      <section id="conclusion7" class="conclusion">
        <h3>
          The situation varies significantly across countries, and between men and woman in terms of the relationship
          between victims of CSEA and their first perpetrator
        </h3>
        <p class="paisesAnalizados">(8 countries)</p>
        <p>
          The two most frequent relationships reported by females are: “current or Former Romantic Partners” and
          “friend, classmate, or neighbour”, with the first one being the most prevalent. For male victims the most
          salient relationship with the perpetrator was by far “friend, classmate, or neighbour”.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesRelacionPVMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesRelacionPVMayores />
      </section>

      <section id="conclusion8" class="conclusion">
        <h3>According to the VACS data, CSEA perpetrators are young</h3>
        <p class="paisesAnalizados">(9 countries)</p>
        <p>
          Approximately <span id="epUnTercio14" class="conexionConGrafica" style="color:#69d2e7">
            one third of the CSEA victims report that the first perpetrator was 14 years old or less</span
          >, and <span id="epUnTercio15" class="conexionConGrafica" style="color:#ecd078"
            >another third that the perpetrator was between 15 and 18 years old</span
          >. This pattern is similar for young men and women.
        </p>

        <ConexionesEdadPerpretador />
      </section>

      <section id="conclusion9" class="conclusion">
        <h3>The evidence provided by the VACS suggests home is not the safest place</h3>
        <p class="paisesAnalizados">(6 countries)</p>
        <p>
          According to the VACS data, <span id="lugar" class="conexionConGrafica" style="color:#69d2e7"
            >60 to 70% of CSEA victims report that the first event happened at home</span
          >. Home in this case indicates the home setting and is either the victim's or perpetrator's home.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesLugarMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesLugarMayores />
      </section>
    </div>

    <footer id="creditos">
      <div class="autores">
        <h2>Research team</h2>
        <ul>
          <li>
            <a href="https://gobierno.uniandes.edu.co/es/profesores/arturo-harker-roa" target="_blank"
              >Arturo Harker Roa, PhD</a
            >
          </li>
          <li>Maria Fernanda Rodríguez</li>
          <li>Jorge Rodríguez</li>
          <li>Paula Contreras</li>
          <li>Maria Paula Marmolejo</li>
          <li>Katherine Jaramillo</li>
          <li>Julián Lopez</li>
          <li>Daniel Mendivelso</li>
          <li>
            <a href="https://www.research.ed.ac.uk/en/persons/inga-vermeulen" target="_blank">Inga Vermeulen, PhD</a>
          </li>
          <li><a href="https://www.ed.ac.uk/profile/deborah-fry" target="_blank">Deborah Fry, PhD</a></li>
        </ul>
      </div>

      <div class="organizaciones">
        <span class="logo">
          <a href="https://imagina.uniandes.edu.co/">
            <img src=`${import.meta.env.BASE_URL}/logo_imagina.svg` alt="Logo Centro Imagina" />
          </a>
        </span>

        <div class="subOrg">
          <h4>Developed by</h4>

          <p><a href="https://enflujo.com/equipo/juan-camilo-gonzalez/" target="_blank">Juan Camilo González</a></p>
          <span class="logo">
            <a href="https://enflujo.com">
              <img src=`${import.meta.env.BASE_URL}/enflujo_andes.svg` alt="Logo Laboratorio EnFlujo" />
            </a>
          </span>
        </div>
      </div>
    </footer>
  </main>
</Plantilla>

<script>
  const cerrarGlosario = document.getElementById('cerrarGlosario');
  const glosario = document.getElementById('glosario');
  const botonesAbrirGlosario = document.querySelectorAll('.abrirGlosario');

  if (cerrarGlosario && glosario) {
    cerrarGlosario.addEventListener('click', () => {
      glosario.classList.remove('visible');
    });
  }

  if (botonesAbrirGlosario.length && glosario) {
    botonesAbrirGlosario.forEach((boton) => {
      boton.addEventListener('click', () => {
        glosario.classList.add('visible');
      });
    });
  }
</script>

<style lang="scss">
  #navegacion {
    .botonMenu {
      font-size: 0.75em;
      margin: 0.5em 0 0 1em;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.411);
      }

      a,
      a:link,
      a:visited {
        text-decoration: none;
        color: white;
      }
    }
  }
  .intro {
    font-size: 1.5em;
    margin-top: 2em;
    padding: 1em;
    background-color: #69d2e73f;

    ol,
    li {
      font-size: 0.8em;

      li {
        margin-bottom: 0.5em;
      }
    }

    .resaltar {
      font-weight: bold;
      text-decoration: underline;
    }

    .listaCentrada {
      list-style: none;
      font-weight: bold;
      font-size: 1.5em;

      li {
        margin-bottom: 1em;
      }
    }
  }
  .contexto {
    font-size: 1.8em;
    margin-top: 3em;
    padding: 1em;
    background-color: rgb(12, 5, 5);

    p {
      line-height: 1.3;
    }

    a,
    a:link,
    a:visited {
      color: #69d2e7;
      text-decoration: underline;
    }

    .resaltar {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .conclusion {
    margin: 10em 0 0 0;
    h3,
    p {
      width: 100%;
      margin: 0 auto;
    }

    h3 {
      margin-bottom: 0.3em;
      font-weight: 800;
      font-size: 2.5em;
      text-align: center;
      display: block;
    }

    p {
      font-size: 1.2em;
    }

    .paisesAnalizados {
      font-weight: 500;
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 1.5em;
      display: block;
    }

    .icono {
      height: 50px;
    }
  }

  #contenedorMapa {
    position: relative;
    width: 80vw;
    margin: 0 auto;
  }

  .titulo {
    font-size: 3.5em;
    max-width: 40vw;
    margin: 0;
    padding: 2em 0 0 0;
    line-height: 1;
    letter-spacing: 3px;
  }

  .autores {
    width: 80%;
    margin: 0;
    font-size: 0.95em;

    h2 {
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .organizaciones {
    margin-top: 1em;
  }

  .logo {
    img {
      height: 80px;
    }
  }

  .subOrg {
    img {
      height: 40px;
    }
  }

  .contenido {
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  #grafica {
    position: sticky;
    top: 10px;
  }

  .linea {
    display: flex;
    background-color: rgb(166, 166, 152);
  }

  .modulo {
    width: 25%;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    transition: all 0.45s ease-in-out;
    color: black;

    &.l2 {
      width: 25%;
    }

    &.l3 {
      width: 50%;
    }

    &.invisible {
      background-color: rgb(121, 121, 121);
    }
  }

  @media (max-width: 800px) {
    .contenido {
      flex-direction: column;
      align-items: center;
    }

    .titulo {
      font-size: 2.5em;
      max-width: 80vw;
    }

    .autores {
      width: 90%;
    }

    .conclusion {
      h3,
      p {
        width: 70%;
      }
    }
  }
</style>
