---
import ConexionesEdadPerpretador from '@/componentes/ConexionesEdadPerpretador.astro';
import ConexionesRelacionPVMenores from '@/componentes/ConexionesRelacionPVMenores.astro';
import ConexionesRelacionPVMayores from '@/componentes/ConexionesRelacionPVMayores.astro';
import ConexionesEdadVictimaMenores from '@/componentes/ConexionesEdadVictimaMenores.astro';
import ConexionesEdadVictimaMayores from '@/componentes/ConexionesEdadVictimaMayores.astro';
import ConexionesLugarMenores from '@/componentes/ConexionesLugarMenores.astro';
import ConexionesLugarMayores from '@/componentes/ConexionesLugarMayores.astro';
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <nav id="navegacion">
    <p class="tituloMenu">Menu</p>
    <ul>
      <li><a href="#conclusion1"><span class="nombre">Mean lifetime CSEA prevalence is very high</span></a></li>
      <li>
        <a href="#conclusion2"><span class="nombre">Variation in CSEA prevalence across countries is huge</span></a>
      </li>
      <li>
        <a href="#conclusion3">
          <span class="nombre">Mean lifetime CSEA prevalence is especially high for girls and young woman</span>
        </a>
      </li>
      <li><a href="#conclusion4"><span class="nombre">CSEA happens very early in life</span></a></li>
      <li><a href="#conclusion5"><span class="nombre">Poly-victimization is very common</span></a></li>
      <li><a href="#conclusion6"><span class="nombre">Educational attainment is very low</span></a></li>
      <li>
        <a href="#conclusion7"><span class="nombre">Relationship between victims and their first perpetrator</span></a>
      </li>
      <li><a href="#conclusion8"><span class="nombre">Perpetrators are very young</span></a></li>
      <li><a href="#conclusion9"><span class="nombre">Home is not the safest place</span></a></li>
    </ul>
  </nav>
  <main>
    <h1 class="titulo">Prevalence and nature of child sexual exploitation and abuse</h1>

    <div class="autores">
      <h2>Research team</h2>
      <ul>
        <li>Arturo Harker Roa, PhD</li>
        <li>Maria Fernanda Rodríguez</li>
        <li>Jorge Rodríguez</li>
        <li>Paula Contreras</li>
        <li>Maria Paula Marmolejo</li>
        <li>Katherine Jaramillo</li>
        <li>Julián Lopez</li>
        <li>Daniel Mendivelso</li>
        <li>Inga Vermeulen, PhD</li>
        <li>Deborah Fry, PhD</li>
      </ul>
      <p></p>
    </div>

    <div class="contenido">
      <h2>Introduction</h2>
      The analysis uses two definitions of <span class="resaltado">Prevalence</span> according to two different time-frames
      of exposure to CSEA:

      <ol>
        <li>Lifetime exposure ("have you ever been")</li>
        <li>Exposure in the las 12 months ("during the last 12 months have you been")</li>
      </ol>

      <h2>Conclusiones</h2>

      <section id="conclusion1" class="conclusion">
        <h3>The mean lifetime CSEA prevalence rate is very high</h3>
        <p class="paisesAnalizados">(17 countries)</p>
        <p>
          16.54% for women and 9.01% for men (as reported retrospectively by persons 18 to 24 years old). The
          probability that young men and woman 18 to 24 years old report they were victimized during the 12 months
          previous to the survey is 9.15% and 12.26%, respectively.
        </p>
      </section>

      <section id="conclusion2" class="conclusion">
        <h3>Variation in CSEA prevalence across countries is huge</h3>
        <p class="paisesAnalizados">(17 countries)</p>
        <p>
          for both lifetime and last year prevalences, and from the reports of both age groups (13-17 and 18-24). The
          range difference between the maximum and minimum observed value is 37 percentage points for females.
        </p>
      </section>

      <section id="conclusion3" class="conclusion">
        <h3>The mean lifetime CSEA prevalence is especially high for girls and young woman (17 countries)</h3>
        <p>
          Lifetime exposure to CSEA reported by children and youth 13 to 17 years old is 1.97 times higher for females.
        </p>
      </section>

      <section id="conclusion4" class="conclusion">
        <h3>CSEA happens very early in life, for both men and women</h3>
        <p class="paisesAnalizados">(12 countries)</p>
        <p>
          Approximately half of CSEA victims say that the first perpetration happened before they were 13 years old.
          Yet, it happens even earlier in life for girls: more than one third (37.6%) of the young woman (18-24 years
          old) affected by CSEA report that the first perpetration happened before they were 13.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesEdadVictimaMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesEdadVictimaMayores />
      </section>

      <section id="conclusion5" class="conclusion">
        <h3>Poly-victimization is very common among CSEA victims</h3>
        <p class="paisesAnalizados">(17 countries)</p>
        <p>
          According to the VACS data, the proportion of CSEA victims that were also victims of physical or emotional
          violence is approximately 43% for girls and 44% for boys.
        </p>
      </section>

      <section id="conclusion6" class="conclusion">
        <h3>Average educational attainment of both female and male CSEA victims is very low</h3>
        <p class="paisesAnalizados">(15 countries)</p>
        <p>
          Less than 6% of the victims (18 to 24 years old) report having more than secondary education, and almost two
          thirds report having only primary education or less
        </p>
      </section>

      <section id="conclusion7" class="conclusion">
        <h3>
          The situation varies significantly across countries, and between men and woman in terms of the relationship
          between victims of CSEA and their first perpetrator
        </h3>
        <p class="paisesAnalizados">(8 countries)</p>
        <p>
          The two most frequent relationships reported by females are: “current or Former Romantic Partners” and
          “friend, classmate, or neighbour”, with the first one being the most prevalent. For male victims the most
          salient relationship with the perpetrator was by far “friend, classmate, or neighbour”.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesRelacionPVMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesRelacionPVMayores />
      </section>

      <section id="conclusion8" class="conclusion">
        <h3>According to the VACS data, CSEA perpetrators are young</h3>
        <p class="paisesAnalizados">(9 countries)</p>
        <p>
          Approximately <span id="epUnTercio14" class="conexionConGrafica" style="color:#69d2e7">
            one third of the CSEA victims report that the first perpetrator was 14 years old or less</span
          >, and <span id="epUnTercio15" class="conexionConGrafica" style="color:#ecd078"
            >another third that the perpetrator was between 15 and 18 years old</span
          >. This pattern is similar for young men and women.
        </p>

        <ConexionesEdadPerpretador />
      </section>

      <section id="conclusion9" class="conclusion">
        <h3>The evidence provided by the VACS suggests home is not the safest place</h3>
        <p class="paisesAnalizados">(6 countries)</p>
        <p>
          According to the VACS data, <span id="lugar" class="conexionConGrafica" style="color:#69d2e7"
            >60 to 70% of CSEA victims report that the first event happened at home</span
          >. Home in this case indicates the home setting and is either the victim's or perpetrator's home.
        </p>

        <h4 class="tituloGrafica">Reported by 13 to 17 years old</h4>
        <ConexionesLugarMenores />

        <h4 class="tituloGrafica">Reported by 18 to 24 years old</h4>
        <ConexionesLugarMayores />
      </section>
    </div>
  </main>
</Plantilla>

<script></script>

<style lang="scss">
  .tituloGrafica {
    font-size: 2em;
    margin: 1em 0 0 0;
    border-bottom: 2px solid;
    padding: 0 0 0.4em 0;
  }

  .conclusion {
    margin: 10em 0 0 0;
    h3,
    p {
      width: 100%;
      margin: 0 auto;
    }

    h3 {
      margin-bottom: 0.3em;
      font-weight: 800;
      font-size: 2.5em;
      text-align: center;
      display: block;
    }

    p {
      font-size: 1.2em;
    }

    .paisesAnalizados {
      font-weight: 500;
      font-size: 1.2em;
      text-align: center;
      margin-bottom: 1.5em;
      display: block;
    }

    .icono {
      height: 50px;
    }
  }

  #contenedorMapa {
    position: relative;
    width: 80vw;
    margin: 0 auto;
  }

  .titulo {
    font-size: 3.5em;
    max-width: 40vw;
    margin: 0;
    padding: 2em 0 0 0;
    line-height: 1;
    letter-spacing: 3px;
  }

  .autores {
    width: 80%;
    margin: 0;
    border-bottom: 1px dotted white;
    font-size: 0.95em;

    h2 {
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-style: italic;

      li {
        display: inline-block;
        &:after {
          content: ',';
          display: inline-block;
          margin: 0 3px;
        }

        &:last-child {
          &:after {
            content: '';
          }
        }
      }
    }
  }

  $anchoColumna: 45vw;

  .contenido {
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  #grafica {
    position: sticky;
    top: 10px;
  }

  .linea {
    display: flex;
    background-color: rgb(166, 166, 152);
  }

  .modulo {
    width: 25%;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    transition: all 0.45s ease-in-out;
    color: black;

    &.l2 {
      width: 25%;
    }

    &.l3 {
      width: 50%;
    }

    &.invisible {
      background-color: rgb(121, 121, 121);
    }
  }

  @media (max-width: 800px) {
    .contenido {
      flex-direction: column;
      align-items: center;
    }

    .titulo {
      font-size: 2.5em;
      max-width: 80vw;
    }

    .autores {
      width: 90%;
    }

    .conclusion {
      h3,
      p {
        width: 70%;
      }
    }
  }
</style>
