---
import Plantilla from '@/plantillas/Plantilla.astro';
---

<Plantilla>
  <main>
    <h1>Childlight Institute - VACS 17 paises - Naturaleza y Prevalencia de CSEA</h1>
    <div class='contenido'>
      <section id='grafica' class='columna'>
        <h2>gráfica</h2>
        <div class='linea'>
          <div class='modulo l3'>
            <h3>Last 12 months</h3>
          </div>
          <div class='modulo l3'>
            <h3>Lifetime</h3>
          </div>
        </div>

        <div class='linea'>
          <div class='modulo l2'>
            <h3>13 - 17</h3>
          </div>
          <div class='modulo l2'>
            <h3>18 - 24</h3>
          </div>
          <div class='modulo l2'>
            <h3>13 - 17</h3>
          </div>
          <div class='modulo l2'>
            <h3>18 - 24</h3>
          </div>
        </div>

        <div class='linea'>
          <div class='modulo'>
            <h3>women</h3>
          </div>
          <div class='modulo'>
            <h3>men</h3>
          </div>
          <div class='modulo'><h3>women</h3></div>
          <div class='modulo'><h3>men</h3></div>
          <div class='modulo'><h3>women</h3></div>
          <div class='modulo'><h3>men</h3></div>
          <div class='modulo'><h3>women</h3></div>
          <div class='modulo'><h3>men</h3></div>
        </div>
      </section>

      <section id='conclusiones' class='columna'>
        <h2>Conclusiones</h2>

        <section>
          <h3>The mean lifetime CSEA prevalence rate is very high (17 countries)</h3>
          <p>
            16.54% for women and 9.01% for men (as reported retrospectively by persons 18 to 24 years old). The
            probability that young men and woman 18 to 24 years old report they were victimized during the 12 months
            previous to the survey is 9.15% and 12.26%, respectively.
          </p>
        </section>

        <section>
          <h3>Variation in CSEA prevalence across countries is huge (17 countries)</h3>
          <p>
            for both lifetime and last year prevalences, and from the reports of both age groups (13-17 and 18-24). The
            range difference between the maximum and minimum observed value is 37 percentage points for females.
          </p>
        </section>

        <section>
          <h3>The mean lifetime CSEA prevalence is especially high for girls and young woman (17 countries)</h3>
          <p>
            Lifetime exposure to CSEA reported by children and youth 13 to 17 years old is 1.97 times higher for
            females.
          </p>
        </section>

        <section>
          <h3>CSEA happens very early in life, for both men and women (12 countries)</h3>
          <p>
            Approximately half of CSEA victims say that the first perpetration happened before they were 13 years old.
            Yet, it happens even earlier in life for girls: more than one third (37.6%) of the young woman (18-24 years
            old) affected by CSEA report that the first perpetration happened before they were 13.
          </p>
        </section>

        <section>
          <h3>Poly-victimization is very common among CSEA victims (17 countries)</h3>
          <p>
            According to the VACS data, the proportion of CSEA victims that were also victims of physical or emotional
            violence is approximately 43% for girls and 44% for boys.
          </p>
        </section>

        <section>
          <h3>Average educational attainment of both female and male CSEA victims is very low (15 countries)</h3>
          <p>
            Less than 6% of the victims (18 to 24 years old) report having more than secondary education, and almost two
            thirds report having only primary education or less
          </p>
        </section>

        <section>
          <h3>
            The situation varies significantly across countries, and between men and woman in terms of the relationship
            between victims of CSEA and their first perpetrator (6 countries)
          </h3>
          <p>
            The two most frequent relationships reported by females are: “current or Former Romantic Partners” and
            “friend, classmate, or neighbour”, with the first one being the most prevalent. For male victims the most
            salient relationship with the perpetrator was by far “friend, classmate, or neighbour”.
          </p>
        </section>

        <section>
          <h3>According to the VACS data, CSEA perpetrators are young (9 countries)</h3>
          <p>
            Approximately one third of the CSEA victims report that the first perpetrator was 14 years old or less, and
            another third that the perpetrator was between 15 and 18 years old. This pattern is similar for young men
            and women.
          </p>
        </section>

        <section>
          <h3>The evidence provided by the VACS suggests home is not the safest place (6 countries)</h3>
          <p>According to the VACS data, 60 to 70% of CSEA victims report that the first event happened at home.</p>
        </section>
      </section>
    </div>
  </main>
</Plantilla>

<script>
  const gql = String.raw;

  const Peticion = gql`
    query {
      articulos {
        traducciones {
          titulo
        }
      }
    }
  `;

  fetch('http://localhost:8055/graphql', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      query: `articulos {
        traducciones {
          titulo
        }
      }`,
    }),
  })
    .then((res) => res.json())
    .then((datos) => {
      console.log(datos);
    });
</script>

<style lang='scss'>
  $anchoColumna: 45vw;

  .contenido {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  #conclusiones {
    width: $anchoColumna;
  }

  #grafica {
    position: sticky;
    top: 100px;
  }

  .linea {
    display: flex;
    background-color: rgb(166, 166, 152);
  }

  .modulo {
    height: 100px;
    width: 100px;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;

    &.l2 {
      width: 200px;
    }

    &.l3 {
      width: 400px;
    }
  }
</style>
