html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
a:link {
  text-decoration: none;
}

h1 {
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 1px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
